/* 思源黑体 */
@font-face {
  font-family: 'SourceHanSansCN';
  src: url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSerifCN-Regular.eot');
  src: local('SourceHanSansCN'), local('SourceHanSansCN-Regular'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Regular.eot?#font-spider') format('embedded-opentype'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Regular.woff') format('woff'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Regular.woff2') format('woff2'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSerifCN-Bold.eot');
  src: local('SourceHanSansCN'), local('SourceHanSansCN-Bold'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Bold.eot?#font-spider') format('embedded-opentype'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Bold.woff') format('woff'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Bold.woff2') format('woff2'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSansCN/SourceHanSansCN-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* 思源宋体 */
@font-face {
  font-family: 'Source Han Serif CN';
  src: url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.eot');
  src: local('SourceHanSerifCN'), local('SourceHanSerifCN-Regular'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.eot?#font-spider') format('embedded-opentype'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.woff') format('woff'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.woff2') format('woff2'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.eot');
  src: local('SourceHanSerifCN'), local('SourceHanSerifCN-Bold'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.eot?#font-spider') format('embedded-opentype'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.woff') format('woff'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.woff2') format('woff2'),
    url('https://libs.sunbingchen.cn/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --mdb-font-roboto: 'SourceHanSansCN', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

$body-color: #333;
$body-bg: #f4f4f4;
$border-radius: .4rem;
$success: #7952b3;

$primary:#1565C0;
$secondary:#2196F3;
$danger:#C62828;
$btn-padding-top-sm:0.3rem;
$btn-padding-right-sm:0.6rem;
$btn-padding-bottom-sm:0.3rem;
$btn-padding-left-sm:0.6rem;




$navbar-padding-y: 0;
$navbar-padding-top: 0;
$nav-link-padding-y: 0.8rem;
$navbar-nav-link-padding-x: 1.5rem;
