@import 'variables';

.show-product {
  .show-product_title {
    position: relative;

    &>.span1 {
      position: relative;
      letter-spacing: 0.3rem;
      z-index: 999;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0.5rem;
        height: 100%;
        background-image: url('../img/gradient_line.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &::before {
        left: -1.5rem;
      }

      &::after {
        right: -1.5rem;
        transform: rotate(180deg);
      }
    }

    &>.span2 {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      width: 100%;
      font-size: 2rem;
      font-weight: bold;
      color: #F2F2F2;
      transform: translateX(-50%);
    }
  }

  .show-product_subtitle {
    &>i {
      display: inline-block;
      margin-right: 0.4rem;
      width: 0.2rem;
      height: 1.2rem;
      background-color: #14B5F0;
    }

    &>span {
      margin-left: 0.2rem;
      padding-top: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
