@import "variables";

$accordion-bg: #ffffff;
$accordion-button-active-bg: #ffffff;

.accordion-collapse {
  .list-group {
    overflow: hidden;

    .list-group-item {
      padding: 0.5rem 1rem;
      border-bottom: none;

      & > a {
        position: relative;
        color: #666666;

        &::before {
          content: "";
          display: inline-block;
          width: 0.6rem;
          height: 0.5rem;
          margin-right: 0.2rem;
          margin-bottom: 0.2rem;
          border: 0.15rem solid #cccccc;
          border-top: 0;
          border-right: 0;
        }

        &::after {
          position: absolute;
          content: "";
          bottom: 0.5rem;
          left: 0;
          width: 0.15rem;
          height: 4rem;
          background-color: #cccccc;
        }
      }
    }
  }
}
