@import "variables";
// 悬浮客服
.customer-service {
  color: #ffffff;
  font-size: 14px;
  height: 150px;
  position: fixed;
  right: 0;
  top: 15vh;
  width: 100px;
  z-index: 666666;

  .customer-service-1 {
    cursor: pointer;
    height: 90px;
    padding-left: 17px;
    padding-top: 49px;
    position: absolute;
    right: 0;
    top: 30px;
    transition-duration: 0.3s;
    width: 53px;
  }

  .customer-service-2 {
    height: 300px;
    position: absolute;
    right: -195px;
    top: -95px;
    transition-duration: 0.3s;
    width: 191px;

    & > .title {
      left: 24px;
      letter-spacing: 2px;
      line-height: 15px;
      position: absolute;
      top: 129px;
      width: 35px;
    }

    & > .con {
      height: 145px;
      left: 75px;
      overflow-y: auto;
      position: absolute;
      text-align: center;
      top: 80px;
      width: 105px;

      a {
        border-radius: 5px;
        color: #7d7d7d;
        display: inline-block;
        padding: 5px 0;

        span {
          margin-left: 5px;
        }

        &:hover {
          background-color: $secondary;
          color: #ffffff;
        }
      }
    }
  }

  &:hover {
    .customer-service-1 {
      right: -55px;
      top: -10px;
      transition-delay: 0.4s;
      transition-duration: 0.3s;
    }

    .customer-service-2 {
      right: 0;
      top: 0;
      transition-delay: 0.7s;
      transition-duration: 0.3s;
    }
  }
}
