.fullScreenButton {

  &.full-screen_active {
    position: fixed !important;
    right: 2rem;
    top: 1.5rem;
  }
}

article {
  position: relative;

  &.full-screen_active {
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 666666;
  }
}
