@import "variables";

/**********
** 首页
***********/
.home {
  section:not(.home_slide) {
    padding: 4rem 0;
    border-bottom: 0.15rem solid #e6e6e6;
  }

  // 首页轮播
  .home_slide {
    position: relative;
    width: 100%;
    height: 100%;

    .swiper-slide {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      text-align: center;
      background-position: center;
      background-size: cover;

      img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .home_slide-thumbs {
      position: absolute;
      bottom: 2vw;
      left: 50%;
      box-sizing: border-box;
      width: 30vw;
      margin-left: -15vw;

      .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: .3;

        .slide-pic {
          overflow: hidden;
          margin: 1rem;
          cursor: pointer;
          transition-duration: .3s;
          border: .15rem solid #797979;
          border-radius: 1rem;
        }

        &:not(.swiper-slide-thumb-active):hover {
          opacity: .6;
        }
      }

      .swiper-slide-thumb-active {
        opacity: 1;

        .slide-pic {
          margin: 0;
          transition-duration: .3s;
        }
      }
    }
  }

  // 首页视频
  .home_video {
    .home_video-player {
      width: 57rem;
      height: 34rem;
      margin: auto;
      padding-top: 2rem;
      padding-left: 2rem;
      background-image: url("/assets/img/home_video-player-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      & .video-js {
        width: 53rem;
        height: 30rem;
      }
    }
  }

  // 首页产品
  .home_product {
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.94), rgba(255, 255, 255, 0.94));
  }
}
