@import "variables";

// 轮播图
.mainSlide {
  position: relative;
  z-index: 1;
  max-width: initial;
  margin-bottom: 4rem;

  .info_slide_dots {
    bottom: 3rem;
  }

  .progressbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: $secondary;
  }

  // 轮播图 置顶文字层
  .mainSlide-fixed {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 5%;
    width: 100%;
  }

  // 轮播图 页面导航
  .mainSlide_nav {
    position: absolute;
    z-index: 999;
    bottom: -2rem;
    left: 0;
    width: 100%;

    .mainSlide_nav-link {
      line-height: 4rem;
      display: inline-block;
      height: 4rem;
      padding: 0 0.3rem;
      transition-duration: 0.2s;
      background-image: url("../img/gradient_line.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 0 0.2rem;

      &:hover,
      &.active {
        transition-duration: 0.2s;
        background-size: 100% 0.2rem;
      }
    }
  }
}
