.masonry {

  .masonry_loader {
    height: 40px;
    margin-top: 0;
    transition: opacity 300ms;
    animation: flipAnimation 1s infinite;
    text-align: center;
    opacity: 0;
    background: transparent url("../svg/loader.svg") no-repeat center center;
    background-size: 40px 19px;
  }

  .masonry_no-more {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;

    line-height: 30px;
    display: inline-block;
    height: 32px;

    padding: 0 16px;
    transition: opacity 400ms;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0;

    color: #999999;

    border: 1px solid #eeeeee;
    border-radius: 4px;
  }

  /* @see https://medium.com/designer-recipes/understanding-card-flip-animation-using-css-391c40ed3136 */
  @keyframes flipAnimation {
    0% {
      -ms-transform: rotateY(-180deg);
      /* IE 9 */
      -webkit-transform: rotateY(-180deg);
      /* Safari Chrome */
      transform: rotateY(-180deg);
    }

    50% {
      -ms-transform: rotateY(0deg);
      /* IE 9 */
      -webkit-transform: rotateY(0deg);
      /* Safari Chrome */
      transform: rotateY(0deg);
    }

    100% {
      -ms-transform: rotateY(-180deg);
      /* IE 9 */
      -webkit-transform: rotateY(-180deg);
      /* Safari Chrome */
      transform: rotateY(-180deg);
    }
  }

  .masonry_pic {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .masonry_title {
    display: inline-block;
    margin-bottom: 0.5rem;
    letter-spacing: 0.03rem;
  }

  .masonry_desc {
    line-height: 1.7;
    margin-bottom: 0.5rem;
    letter-spacing: 0.07rem;
  }
}
