.vjs-geek {
  /* 改变播放器的所有文字和图标的颜色。 */
  &.video-js {
    color: #1677ff;
  }

  /* 改变大的播放按钮的边框。*/
  .vjs-big-play-button {
    border-color: #717171;
    border-radius: 50%;
    top: 50%;
    margin-top: -2.5rem;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

    .vjs-icon-placeholder {
      font-size: 4rem;
      top: 50%;
      margin-top: -2.5rem;
      left: 50%;
      margin-left: -2.5rem;
      width: 5rem;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      display: inline-block;
    }
  }

  /* 改变各种"bars"的颜色。*/
  & .vjs-volume-level,
  & .vjs-play-progress,
  & .vjs-slider-bar {
    background: #1677ff;
  }

}
