

$navbar-padding-y: 0;
$navbar-padding-top: 0;
$nav-link-padding-y: .8rem;
$navbar-nav-link-padding-x: 1.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "common";
@import "main-slide";
@import 'home';
@import "home";
@import "show-product";
@import "list";
@import "show";

@import "customer-service";
@import "accordion";
@import "full-screen";
@import "img-enlarge";
@import "masonry";
