/* 思源黑体 */
@font-face {
  font-family: "Source Han Sans";
  src: local("Source Han Sans"), local("SourceHanSansCN-Regular"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSansCN/SourceHanSansCN-Regular.eot") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSansCN/SourceHanSansCN-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSansCN/SourceHanSansCN-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSansCN/SourceHanSansCN-Regular.ttf") format("truetype");
}

/* 思源宋体 */
@font-face {
  font-family: "Source Han Serif";
  src: local("Source Han Serif"), local("SourceHanSerifCN-Regular"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.eot") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/GeekMakerSun/StaticResources@main/fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.ttf") format("truetype");
}

$font-family-sans-serif: "Source Han Sans", "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-color: #333333;
$body-bg: #f4f4f4;
$border-radius: .4rem;

// card
$card-title-spacer-y: 1rem;

// color
$primary: #1565c0;
$secondary: #2196f3;
$danger: #c62828;

// accordion
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-button-bg: #ffffff;
// btn
$btn-padding-top-sm: 0.3rem;
$btn-padding-right-sm: 0.6rem;
$btn-padding-bottom-sm: 0.3rem;
$btn-padding-left-sm: 0.6rem;

// link
$link-decoration: none;
$link-hover-decoration: none;

// nav
$nav-link-padding-y: 0.7rem;

// navbar
$navbar-padding-y: 0;
$navbar-padding-top: 0;
$navbar-nav-link-padding-x: 1.5rem;
